@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

:root {
    --main-color: #e84242;
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4)
}

/* ! base html codes */
html {
    /* from 1rem = 16px to 1rem = 10px */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: white;
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--black-color);
}

body {
    background-color: var(--main-color);
}

section {
    padding: 3.5rem 7%;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-size: 4rem;
    color: #fff;
    border-bottom: 0.1rem solid #fff;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
}

.heading span {
    text-transform: uppercase;
    color: var(--black-color);
}

.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

/* ! header start */
.logo img {
    height: 10rem;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button {
    cursor: pointer;
    margin-left: 2rem;
    font-size: 2.5rem;
    background-color: transparent;
}

/* ! header end */

/* ! home start */
.home {
    min-height: 100vh;
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ccc;
}

/* ! home end */

/* ! menu start */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu .box-container .box h3 {
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
}

/* ! menu end */


/* ! poducts start */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.products .box-container .box .box-head .title {
    font-size: 1.4rem;
}

.products .box-container .box .box-head .name {
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .title,
.products .box-container .dark-bg .box-head .name {
    color: #fff;
}


.products .box-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
}

.products .box-container .dark-bg img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;
}

.products .box-container .box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
    font-size: 3rem;
}

.products .box-container .box-bottom .info .amount {
    font-size: 1.4rem;
}

.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount {
    color: #fff;
}

.products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--main-color);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
}

.products .box-container .box-bottom .product-btn a i {
    font-size: 1.6rem;
    color: var(--main-color);
}

/* ! poducts end */


/* ! about start */

.about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}


/* ! about end */

/* ! review start */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2re;
    color: var(--main-color);
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: gold;
}

/* ! review end */


/* ! contact start */
.contact .row {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    border: var(--border);
    margin: 2rem 0;

}

.contact .row form .inputBox i {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
}

.contact .row form input {
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
}

.contact .row form .btn {
    background-color: #fff;
    color: var(--main-color);
    font-weight: bold;
    width: 50%;
}


/* ! contact end */

/* ! blogs start */

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    background-color: #fff;
    border-radius: 3rem;
}

.blogs .box-container .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.blogs .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}


.blogs .box-container .box .content .title {
    font-size: 2.4rem;
    line-height: 1.5;
}

.blogs .box-container .box .content span {
    display: block;
    font-size: 2rem;
    padding-top: 1rem;
}

.blogs .box-container .box .content p {
    line-height: 1.8;
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
}


/* ! blogs end */


/* ! footer start */
.footer {
    background-color: var(--black-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .search-input {
    width: 30rem;
}

.footer .search .btn-primary {
    background-color: var(--main-color);
    margin-left: 1rem;
    padding: 1rem 2rem;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a {
    color: #fff;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem;
    border: var(--border);
    border-radius: 50%;
    transition: 0.5s ease all;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a {
    background-color: var(--main-color);
    color: #fff;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    border: var(--border);
}

.footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
}

.footer .links a.active {
    background-color: var(--black-color);
}

.footer .credit {
    color: #fff;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}


/* ! footer end */